.container {
   width: 90%;
   margin: 40px auto 60px auto;
}

.introduction {
   margin-top: 50px;
   line-height: 25px;
   border-radius: 2px;
   padding-block: 1.9rem;
   padding-inline: 1.3rem;
   border: 4px solid #2a3e4b;
   box-shadow: 11px 11px 1px 1px #2a3e4b;
}

.introduction__title {
   font-size: 1.3rem;
   font-weight: bold;
   text-align: center;
   margin-bottom: 45px;
   letter-spacing: 1px;
}

.introduction__explain {
   font-size: 1.1rem;
   margin-bottom: 24px;
   letter-spacing: 1px;
}

.introduction__desc {
   margin-top: 10px;
   letter-spacing: 1px;
}

.introduction__title_example {
   margin-top: 30px;
   margin-bottom: 20px;
   letter-spacing: 1px;
}

.cssCode_container {
   overflow-x: auto;
   margin-bottom: 50px;
   border-radius: 10px;
   padding-inline: 30px;
   border: 3px solid #2a3044;
   background-color: #271e30;
}

.cssCode_container::-webkit-scrollbar {
   background: #2a3044;
}
.cssCode_container::-webkit-scrollbar-thumb {
   background: #c3cedb;
}

.css_code {
   color: #e5ebde;
   line-height: 28px;
   font-family: monospace;
}

.link {
   color: #599ac5;
   text-decoration: underline;
}

.more_desc {
   margin-top: 20px;
   letter-spacing: 1.1px;
}

.to_home {
   font-size: 1.9rem;
   margin-right: 50px;
   text-decoration: none;
}

.top_links {
   display: flex;
   align-items: center;
   margin-bottom: 40px;
   justify-content: center;
}

.section {
   margin-bottom: 4.4rem;
}

.hightlight {
   color: #f3ca58;
   font-weight: bold;
}

.img_component {
   border-radius: 5px;
   background-color: rgb(42, 62, 75);
   border: 3px solid #2a3e4b;
}

@media screen and (min-width: 730px) {
   .container {
      width: 87%;
   }

   .introduction {
      padding-inline: 1.9rem;
      padding-block: 2.2rem;
   }
}

@media screen and (min-width: 760px) {
   .cssCode_container {
      font-size: 0.9rem;
   }
}

@media screen and (min-width: 799) {
   .introduction {
      line-height: 30px;
   }
}

@media screen and (min-width: 900px) {
   .container {
      width: 80%;
   }
}

@media screen and (min-width: 1112px) {
   .container {
      width: 74%;
   }
}

@media screen and (min-width: 1320px) {
   .container {
      width: 70%;
   }
}

@media screen and (min-width: 1430px) {
   .container {
      width: 60%;
   }
}

@media screen and (min-width: 1625px) {
   .container {
      width: 55%;
   }
}

@media screen and (min-width: 1740px) {
   .container {
      width: 50%;
   }
}

@media screen and (min-width: 1865px) {
   .container {
      width: 45%;
   }
}
